body{
  background-color: #ebf1fa;
}
#main{
  margin-top: 80px;
  h1{
    text-align: center;
    margin: 20px;
    display: inline-block;
  }
}
#but_aggiungi{
  float: right;
  margin-top: 22.5px;
}
